<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>家庭傭工續約平台 - 控制台 > 編輯申請</title>

    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">\
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<style type="text/css">
		.clickable-row:hover {
			cursor: pointer;
		}
	</style>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index">DHCP Admin Console</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
							<a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
							<a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
							<a href="login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <form class="input-group custom-search-form" method="post" action="searchApplications">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
									<button class="btn btn-default" type="button" onclick="form.submit();">
										<i class="fa fa-search"></i>
									</button>
								</span>
                            </form>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
						<li>
                            <a href="applications"><i class="fa fa-file fa-fw"></i> Applications</a>
                        </li>
						<li>
                            <a href="inquiries"><i class="fa fa-envelope fa-fw"></i> Inquiries</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Application <span style="font-size: 16px"><i>[<%= application._id %>]</i></span></h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
				
				<form action="/application-save" method="post">
					<input id="applicationId" name="applicationId" type="hidden"/>
					
					<div class="row">
						<div class="col-lg-9">
							<span class="pull-right">
								<button class="btn btn-default" type="button" onclick="form.reset();">
									Discard
								</button>
								<input type="submit" value="Update" class="btn btn-primary"/>
							</span>
						</div>
						<!-- /.col-lg-12 -->
					</div>
					<!-- /.row -->
				
					<div class="row">
						<div class="col-lg-12">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#employer" data-toggle="tab">Employer</a>
								</li>
								<li>
									<a href="#domestic-helper" data-toggle="tab">Domestic Helper</a>
								</li>
								<li>
									<a href="#documents" data-toggle="tab">Documents</a>
								</li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane fade in active" id="employer">
									<br/>
									<fieldset>
										<!-- Form Name -->
										<legend>基本資料</legend>

										<!-- Text input-->
										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="firstName">姓名(英)</label>  
										  <div class="col-md-1">
											<input id="firstName" name="firstName" type="text" placeholder="名*" class="form-control input-md" required="" value="<%= application.employer.firstName %>">
										  </div>
										  
										  <div class="col-md-1">
											<input id="lastName" name="lastName" type="text" placeholder="姓*" class="form-control input-md" required="" value="<%= application.employer.lastName %>">
										  </div>
										  
										  <label class="col-md-1 control-label" for="chineseName">姓名(中)</label>  
										  <div class="col-md-2">
											<input id="chineseName" name="chineseName" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.chineseName %>">
										  </div>
										  
										  <label class="col-md-1 control-label" for="DOB">出生日期</label>  
										  <div class="col-md-2">
											<input id="DOB" name="DOB" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.DOB %>">
										  </div>
										</div>

										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="gender">性別</label>
										  <div class="col-md-2"> 
											<input type="radio" id="gender-0" name="gender" value="M">
											<label for="gender-0">男</label>
											
											<input type="radio" id="gender-1" name="gender" value="F">
											<label for="gender-1">女</label>
										  </div>
										  
										  <label class="col-md-1 control-label" for="nationality">國籍</label>  
										  <div class="col-md-2">
											<input id="nationality" name="nationality" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.nationality %>">
										  </div>
										  
										  <label class="col-md-1 control-label" for="occupation">職業</label>  
										  <div class="col-md-2">
											<input id="occupation" name="occupation" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.occupation %>">
										  </div>
										</div>

										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="hasHKID">持有身份証</label>
										  <div class="col-md-2"> 
											<input type="radio" id="hasHKID-0" name="hasHKID" value="0">
											<label for="hasHKID-0">是</label>
											
											<input type="radio" id="hasHKID-1" name="hasHKID" value="1">
											<label for="hasHKID-1">否</label>
										  </div>
										
										  <label class="col-md-1 control-label" for="HKID">身份證號碼</label>  
										  <div class="col-md-2">
											<input id="HKID" name="HKID" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.HKID %>">
										  </div>
										  
										  <label class="col-md-1 control-label" for="passportNumber">旅行證件號碼</label>  
										  <div class="col-md-2">
											<input id="passportNumber" name="passportNumber" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.passportNumber %>">
										  </div>
										</div>

										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="address1">地址</label>  
										  <div class="col-md-8">
											<input id="address1" name="address1" type="text" placeholder="地址 1" class="form-control input-md" value="<%= application.employer.address1 %>">
										  </div>
										</div>

										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="address2"></label>  
										  <div class="col-md-8">
											<input id="address2" name="address2" type="text" placeholder="地址 2" class="form-control input-md" value="<%= application.employer.address2 %>">
										  </div>
										</div>

										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="contactNumber">聯絡電話號碼*</label>  
										  <div class="col-md-2">
											<input id="contactNumber" name="contactNumber" type="text" placeholder="" class="form-control input-md" required="" value="<%= application.employer.contactNumber %>">
										  </div>
										  
										  <label class="col-md-1 control-label" for="homeNumber">住宅電話號碼</label>  
										  <div class="col-md-2">
											<input id="homeNumber" name="homeNumber" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.homeNumber %>">
										  </div>
										  
										  <label class="col-md-1 control-label" for="email">電郵地址*</label>  
										  <div class="col-md-2">
											<input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="" value="<%= application.employer.email %>">
										  </div>
										</div>
									</fieldset><br/>
									
									<fieldset>
										<!-- Form Name -->
										<legend>住戶資料</legend>
										
										<div class="col-md-12">
										  <label class="col-md-2 control-label" for="isEmployerSameAdd">您是否居住在合約地址</label>
										  <div class="col-md-1"> 
											<input type="radio" id="isEmployerSameAdd-0" name="isEmployerSameAdd" value="0">
											<label for="isEmployerSameAdd-0">是</label>
											
											<input type="radio" id="isEmployerSameAdd-1" name="isEmployerSameAdd" value="1">
											<label for="isEmployerSameAdd-1">否</label>
										  </div>
										  
										  <label class="col-md-2 control-label" for="houseHoldIncome">每月家庭入息</label>  
										  <div class="col-md-1">
											<input id="houseHoldIncome" name="houseHoldIncome" type="text" placeholder="HKD" class="form-control input-md" value="<%= application.employer.houseHoldIncome %>">
										  </div>
										</div>

										<div class="col-md-12">
										  <label class="col-md-2 control-label" for="numOfAdult">成人數目</label>  
										  <div class="col-md-1">
											<input id="numOfAdult" name="numOfAdult" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.numOfAdult %>">
										  </div>
										  
										  <label class="col-md-2 control-label" for="numOfChild">小童數目(5-18歲)</label>  
										  <div class="col-md-1">
											<input id="numOfChild" name="numOfChild" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.numOfChild %>">
										  </div>
										  
										  <label class="col-md-2 control-label" for="numOfBaby">小童數目(0~5歲)</label>  
										  <div class="col-md-1">
											<input id="numOfBaby" name="numOfBaby" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.numOfBaby %>">
										  </div>
										</div>

										<div class="col-md-12">
										  <label class="col-md-2 control-label" for="numOfPreBorn">預產嬰兒數目</label>  
										  <div class="col-md-1">
											<input id="numOfPreBorn" name="numOfPreBorn" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.numOfPreBorn %>">
										  </div>
										  
										  <label class="col-md-2 control-label" for="numOfFamily">家庭成員總數</label>  
										  <div class="col-md-1">
											<input id="numOfFamily" name="numOfFamily" type="text" placeholder="" class="form-control input-md" value="<%= (parseInt(application.employer.numOfAdult) + parseInt(application.employer.numOfChild) + parseInt(application.employer.numOfBaby)) %>">
										  </div>
										  
										  <label class="col-md-2 control-label" for="numOfSpecialCare">其中特別照顧人士數目</label>  
										  <div class="col-md-1">
											<input id="numOfSpecialCare" name="numOfSpecialCare" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.numOfSpecialCare %>">
										  </div>
										</div>
										
										<div class="col-md-12">
											&nbsp;
										</div>
										
										<div class="col-md-9">
											<div class="table-responsive">
												<table class="table table-striped table-bordered">
													<thead>
														<tr>
															<th class="col-lg-2">住戶姓名(英)</th>
															<th class="col-lg-4">出生年份</th>
															<th class="col-lg-3">關係</th>
															<th class="col-lg-3">身份證號碼</th>
														</tr>
													</thead>
													<tbody>
														<% for(var i=0; i<applications.employer.familyMembers.length; i++) { %>
														<tr>
															<td>
																<input id="familyMemberOrders" name="familyMemberOrders" type="hidden" value="<%= applications.employer.familyMembers[i].orderNum %>"/>
																<input id="familyMemberNames" name="familyMemberNames" type="text" placeholder="" class="form-control input-md" value="<%= applications.employer.familyMembers[i].name %>"/>
															</td>
															<td>
																<input id="familyMemberBirthYears" name="familyMemberBirthYears" type="text" placeholder="" class="form-control input-md" value="<%= applications.employer.familyMembers[i].birthYear %>"/>
															</td>
															<td>
																<input id="familyMemberRelationships" name="familyMemberRelationships" type="text" placeholder="" class="form-control input-md" value="<%= applications.employer.familyMembers[i].relationship %>"/>
															</td>
															<td>
																<input id="familyMemberHKIDs" name="familyMemberHKIDs" type="text" placeholder="" class="form-control input-md" value="<%= applications.employer.familyMembers[i].HKID %>"/>
															</td>
														</tr>
														<% } %>
													</tbody>
												</table>
											</div>
											<!-- /.table-responsive -->
										</div>
									</fieldset><br/>

									<fieldset>
										<!-- Form Name -->
										<legend>現時僱用家傭資料</legend>
										
										<div class="col-md-12">
										  <label class="col-md-2 control-label" for="numOfDH">現時僱用家傭總數</label>  
										  <div class="col-md-1">
											<input id="numOfDH" name="numOfDH" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.numOfDH %>">
										  </div>
										</div>
										
										<div class="col-md-12">
											&nbsp;
										</div>
										
										<div class="col-md-9">
											<div class="table-responsive">
												<table class="table table-striped table-bordered">
													<thead>
														<tr>
															<th class="col-lg-2">家傭姓名(英</th>
															<th class="col-lg-4">身份證號碼</th>
															<th class="col-lg-3">工作証到期日</th>
															<th class="col-lg-3">僱主姓名(英)</th>
														</tr>
													</thead>
													<tbody>
														<% for(var i=0; i<applications.employer.employedDHs.length; i++) { %>
														<tr>
															<td>
																<input id="employedDHOrders" name="employedDHOrders" type="hidden" value="<%= application.employer.employedDHs.orderNum %>"/>
																<input id="employedDHNames" name="employedDHNames" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.employedDHs.name %>"/>
															</td>
															<td>
																<input id="employedDHHKIDs" name="employedDHHKIDs" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.employedDHs.HKID %>"/>
															</td>
															<td>
																<input id="employedDHVISADueDate1" name="employedDHVISADueDates" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.employedDHs.VISADueDate %>"/>
															</td>
															<td>
																<input id="employedDHEmployerNames" name="employedDHEmployerNames" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.employedDHs.employerName %>"/>
															</td>
														</tr>
														<% } %>
													</tbody>
												</table>
											</div>
											<!-- /.table-responsive -->
										</div>
									</fieldset><br/>

									<fieldset>
										<!-- Form Name -->
										<legend>住宅資料</legend>
										
										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="apartmentType">住宅類型</label>
										  <div class="col-md-2">
											<select class="form-control" id="apartmentType" name="apartmentType" value="<%= application.employer.apartmentTypeId %>">
                                                <option value="1">Option one</option>
												<option value="2">Option two</option>
                                            </select>
										  </div>
										  
										  <label class="col-md-1 control-label" for="apartmentArea">住宅面積</label>  
										  <div class="col-md-2">
											<input id="apartmentArea" name="apartmentArea" type="text" placeholder="平方尺" class="form-control input-md" value="<%= application.employer.apartmentArea %>">
											
										  </div>
										  
										  <label class="col-md-1 control-label" for="numOfRoom">睡房總數目</label>  
										  <div class="col-md-2">
											<input id="numOfRoom" name="numOfRoom" type="text" placeholder="" class="form-control input-md" value="<%= application.employer.numOfRoom %>">
										  </div>
										</div>

										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="hasIndividualRoomDH">獨立工人房間</label>
										  <div class="col-md-2"> 
											<input type="radio" id="hasIndividualRoomDH-0" name="hasIndividualRoomDH" value="0">
											<label for="hasIndividualRoomDH-0">是</label>
											
											<input type="radio" id="hasIndividualRoomDH-1" name="hasIndividualRoomDH" value="1">
											<label for="hasIndividualRoomDH-1">否</label>
										  </div>
										  
										  <label class="col-md-1 control-label" for="DHRoomArea">工人房間面積</label>  
										  <div class="col-md-2">
										  <input id="DHRoomArea" name="DHRoomArea" type="text" placeholder="平方尺" class="form-control input-md" value="<%= application.employer.DHRoomArea %>">
											
										  </div>
										</div>
									</fieldset>
								</div>
								
								
								<div class="tab-pane fade" id="domestic-helper">
									<br/>
									<fieldset>
										<legend>基本資料</legend>

										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="firstName">姓名</label>  
										  <div class="col-md-2">
											<input id="firstName" name="firstName" type="text" placeholder="First Name*" class="form-control input-md" required="" value="<%= application.domesticHelper.firstName %>"/>
										  </div>
										  
										  <div class="col-md-2">
											<input id="middleName" name="middleName" type="text" placeholder="Middle Name" class="form-control input-md" value="<%= application.domesticHelper.middleName %>">
										  </div>
										  
										  <div class="col-md-2">
											<input id="lastName" name="lastName" type="text" placeholder="Last Name" class="form-control input-md" value="<%= application.domesticHelper.lastName %>">
										  </div>
										</div>
										
										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="DOB">出生日期</label>  
										  <div class="col-md-2">
											<input id="DOB" name="DOB" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.DOB %>"/>
										  </div>

										  <label class="col-md-1 control-label" for="gender">性別</label>
										  <div class="col-md-2"> 
											<input type="radio" id="gender-0" name="gender" value="M">
											<label for="gender-0">男</label>
											
											<input type="radio" id="gender-1" name="gender" value="F">
											<label for="gender-1">女</label>
										  </div>

										  <label class="col-md-1 control-label" for="birthPlace">出生地</label>
										  <div class="col-md-2">
											<input id="birthPlace" name="birthPlace" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.birthPlace %>">
										  </div>
										</div>
										  
										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="maritalStatus">婚姻狀況</label>
										  <div class="col-md-2">
											<div class="select-wrapper">
												<select id="maritalStatus" name="maritalStatus" value="<%= application.domesticHelper.maritalStatusId %>">
												  <option value="1">Option one</option>
												  <option value="2">Option two</option>
												</select>
											</div>
										  </div>
										
										  <label class="col-md-1 control-label" for="HKID">身份證號碼*</label>  
										  <div class="col-md-2">
											<input id="HKID" name="HKID" type="text" placeholder="" class="form-control input-md" required="" value="<%= application.domesticHelper.HKID %>">
										  </div>
										  
										  <label class="col-md-1 control-label" for="HKIDIssueDate">身份證簽發日期</label>  
										  <div class="col-md-2">
											<input id="HKIDIssueDate" name="HKIDIssueDate" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.HKIDIssueDate %>"/>
										  </div>
										</div>

										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="nationality">國籍</label>  
										  <div class="col-md-2">
											<input id="nationality" name="nationality" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.nationality %>"/>
										  </div>
										  
										  <label class="col-md-1 control-label" for="contactNumber">電話號碼</label>  
										  <div class="col-md-2">
											<input id="contactNumber" name="contactNumber" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.contactNumber %>">
										  </div>
										  
										  <label class="col-md-1 control-label" for="email">電郵地址</label>  
										  <div class="col-md-2">
											<input id="email" name="email" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.email %>"/>
										  </div>
										</div>
									
										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="address1">原居住址</label>  
										  <div class="col-md-8">
											<input id="address1" name="address1" type="text" placeholder="地址 1" class="form-control input-md" value="<%= application.domesticHelper.address1 %>"/>
										  </div>
										</div>
										
										<div class="col-md-12">
										  <label class="col-md-1 control-label"></label>  
										  <div class="col-md-8">
											<input id="address2" name="address2" type="search" placeholder="地址 2" class="form-control input-md" value="<%= application.domesticHelper.address2 %>"/>
										  </div>
										</div>

										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="contactPerson">國家親人姓名</label>  
										  <div class="col-md-2">
											<input id="contactPerson" name="contactPerson" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.contactPerson %>"/>
										  </div>
										  
										  <label class="col-md-1 control-label" for="contactPersonNumber">國家親人電話</label>  
										  <div class="col-md-2">
											<input id="contactPersonNumber" name="contactPersonNumber" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.contactPersonNumber %>"/>
										  </div>
										</div>
									</fieldset><br/>

									<fieldset>
										<!-- Form Name -->
										<legend>履行新合約前安排</legend>
										
										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="selectbasic">渡假後安排</label>
										  <div class="col-md-2">
											<select id="selectbasic" name="selectbasic" class="form-control" value="<%= application.domesticHelper.postRenewalArrangement %>">
											  <option value="1">在履行新合約前返回原居地渡假</option>
											  <option value="2">雙方同意把假期押後不超過一年</option>
											</select>
										  </div>
											
										  <label class="col-md-1 control-label" for="tripStartDate">去程日期</label>  
										  <div class="col-md-2">
											<input id="tripStartDate" name="tripStartDate" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.tripStartDate %>"/>
										  </div>
										  
										  <label class="col-md-1 control-label" for="tripEndDate">回程日期</label>  
										  <div class="col-md-2">
											<input id="tripEndDate" name="tripEndDate" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.tripEndDate %>"/>
										  </div>
										</div>
										
										<div class="col-md-12">										
										  <label class="col-md-1 control-label" for="reason">原因</label>  
										  <div class="col-md-8">
											<input id="reason" name="reason" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.postRenewalPostponeReason %>">
										  </div>
										</div>
									</fieldset><br/>
									
									<fieldset>
										<!-- Form Name -->
										<legend>護照資料</legend>

										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="passportNumber">護照號碼</label>  
										  <div class="col-md-2">
											<input id="passportNumber" name="passportNumber" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.passportNumber %>">
										  </div>
										  
										  <label class="col-md-1 control-label" for="issueCountry">簽發地點</label>  
										  <div class="col-md-2">
											<input id="issueCountry" name="issueCountry" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.passportIssueCountry %>"/>
										  </div>

										  <label class="col-md-1 control-label" for="issueDate">簽發日期</label>  
										  <div class="col-md-2">
											<input id="issueDate" name="issueDate" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.passportIssueDate %>"/>
										  </div>
										</div>

										<div class="col-md-12">
										  <label class="col-md-1 control-label" for="dueDate">屆滿日期</label>  
										  <div class="col-md-2">
											<input id="dueDate" name="dueDate" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.passportDueDate %>"/>
										  </div>

										  <label class="col-md-1 control-label" for="VISAStartDate">工作簽証生效日期</label>  
										  <div class="col-md-2">
											<input id="VISAStartDate" name="VISAStartDate" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.VISAIssueDate %>"/>
										  </div>
										  
										  <label class="col-md-1 control-label" for="VISADueDate">工作簽証屆滿日期</label>  
										  <div class="col-md-2">
											<input id="VISADueDate" name="VISADueDate" type="text" placeholder="" class="form-control input-md" value="<%= application.domesticHelper.VISADueDate %>"/>
										  </div>
										</div>
									</fieldset>
								</div>
								
								
								<div class="tab-pane fade" id="documents">
									<br/>
									<fieldset>
										<!-- Form Name -->
										<legend>僱主文件</legend>

										<div class="col-md-12">
										  <label class="col-md-2 control-label" for="passportNumber">香港身份證</label>  
										  <div class="col-md-10">
										  <input id="file-0a" class="file" type="file"><br/>
											
										  </div>
										
										  <label class="col-md-2 control-label" for="passportNumber">護照相片資料頁</label>  
										  <div class="col-md-10">
										  <input id="file-0a" class="file" type="file"/><br/>
											
										  </div>
										
										  <label class="col-md-2 control-label" for="passportNumber">留港簽証頁</label>  
										  <div class="col-md-10">
										  <input id="file-0a" class="file" type="file"/><br/>
											
										  </div>
										
										  <label class="col-md-2 control-label" for="passportNumber">住址證明</label>  
										  <div class="col-md-10">
										  <input id="file-0a" class="file" type="file"/><br/>
											
										  </div>
										</div>
									</fieldset>
									
									<fieldset>
										<!-- Form Name -->
										<legend>傭工文件</legend>

										<div class="col-md-12">
										  <label class="col-md-2 control-label" for="passportNumber">香港身份證</label>  
										  <div class="col-md-10">
										  <input id="file-0a" class="file" type="file"/><br/>
											
										  </div>
										
										  <label class="col-md-2 control-label" for="passportNumber">護照(相片資料頁)</label>  
										  <div class="col-md-10">
										  <input id="file-0a" class="file" type="file"/><br/>
											
										  </div>
										
										  <label class="col-md-2 control-label" for="passportNumber">護照(簽証生效日期)</label>  
										  <div class="col-md-10">
										  <input id="file-0a" class="file" type="file"/><br/>
											
										  </div>
										
										  <label class="col-md-2 control-label" for="passportNumber">護照(簽証屆滿日期)</label>  
										  <div class="col-md-10">
										  <input id="file-0a" class="file" type="file"/><br/>
											
										  </div>
										  
										  <label class="col-md-2 control-label" for="passportNumber">合約(ID407)</label>  
										  <div class="col-md-10">
										  <input id="file-0a" class="file" type="file"/><br/>
											
										  </div>
										  
										  <label class="col-md-2 control-label" for="passportNumber">驗身報告</label>  
										  <div class="col-md-10">
										  <input id="file-0a" class="file" type="file"/><br/>
											
										  </div>
										</div>
									</fieldset
								</div>
							</div>
						</div>
						<!-- /.col-lg-12 -->
					</div>
					<!-- /.row -->
				</form>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/bower_components/raphael/raphael-min.js"></script>
    <script src="/bower_components/morrisjs/morris.min.js"></script>
    <!--<script src="/js/morris-data.js"></script>-->
    <script src="/dist/js/sb-admin-2.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
	
	<script>
		$(".clickable-row").click(function() {
			window.document.location = $(this).data("href");
		});
		
		$.fn.editable.defaults.mode = 'inline';
		
		$(document).ready(function() {
			$('#status1').editable({
				value: 1,    
				source: [
				  {value: 1, text: '1 - Submitted'},
				  {value: 2, text: '2 - Confirmation Sent'},
				  {value: 3, text: '3 - Confirmed'},
				  {value: 4, text: '4 - Document Sent'},
				  {value: 5, text: '5 - Signed'},
				  {value: 6, text: '6 - Completed'}
			   ]
			});
			
			$('#status2').editable({
				value: 3,    
				source: [
				  {value: 1, text: '1 - Submitted'},
				  {value: 2, text: '2 - Confirmation Sent'},
				  {value: 3, text: '3 - Confirmed'},
				  {value: 4, text: '4 - Document Sent'},
				  {value: 5, text: '5 - Signed'},
				  {value: 6, text: '6 - Completed'}
			   ]
			});
		});
	</script>
</body>

</html>
